* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Verdana', sans-serif;
    min-height: 100vh;
    background: #ccc;
}

header {
    margin: 20px;
    text-align: center;
    color: #666;
}

.stat {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 8px;
    width: 640px;
    max-width: 100%;
}

.stat p {
    width: 50%;
}

.memory-game {
    width: 640px;
    max-width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 20px);
    height: 33.333%;
    position: relative;
    margin: 10px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 0.5s ease;

}

.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e9e1c9;
    border-radius: 15px;
    padding: 20px;
    backface-visibility: hidden;
    box-shadow: 7px 7px #cec5aa;
}

.card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e9e1c9;
    border-radius: 15px;
    padding: 20px;
    backface-visibility: hidden;
    box-shadow: 7px 7px #cec5aa;
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
}

.alert-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 1;
    display: none;
    transition: all 1s ease;
    justify-content: center;
    align-items: center;
}

.alert {
    background: #fff;
    padding: 35px 55px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.alert-text {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.play-again {
    border: none;
    outline: none;
    padding: 8px 19px;
    background: #888;
    color: #fff;
    border-radius: 5px;
}

.play-again:active {
    transform: scale(0.95);
}

.close-alert {
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
}

.text-win {
    color: green;
}

.text-lose {
    color: red;
}

.fade-in {
    display: flex;
    opacity: 1;
}